.menu {
  background-color: blue;
}

nav ul {
  margin: 0;
}

nav ul li {
  list-style: none;
  user-select: none;
  padding: 25px;
  display: inline-block;
  background-color:blue;
}
nav ul li button {
  width: 40px;
  height: 40px;
}
nav ul li a {
  font-size: 30px;
  text-decoration: none;
  background-color: blue;
  color: black;
}







